USE [shoeCatalogdb]
GO
ALTER TABLE [dbo].[ProductCategories] DROP CONSTRAINT [FK__ProductCa__Produ__5EBF139D]
GO
ALTER TABLE [dbo].[ProductCategories] DROP CONSTRAINT [FK__ProductCa__Categ__5FB337D6]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [FK__Orders__UserId__6A30C649]
GO
ALTER TABLE [dbo].[OrderItems] DROP CONSTRAINT [FK__OrderItem__Produ__6E01572D]
GO
ALTER TABLE [dbo].[OrderItems] DROP CONSTRAINT [FK__OrderItem__Order__6D0D32F4]
GO
ALTER TABLE [dbo].[Carts] DROP CONSTRAINT [FK__Carts__UserId__6477ECF3]
GO
ALTER TABLE [dbo].[Carts] DROP CONSTRAINT [FK__Carts__ProductId__656C112C]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF_Users_IsManager]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__CreatedAt__5535A963]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__IsAdmin__5441852A]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF__Products__Create__5BE2A6F2]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__Status__693CA210]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__OrderDat__68487DD7]
GO
ALTER TABLE [dbo].[Categories] DROP CONSTRAINT [DF__Categorie__Creat__59063A47]
GO
ALTER TABLE [dbo].[Categories] DROP CONSTRAINT [DF__Categorie__Displ__5812160E]
GO
ALTER TABLE [dbo].[Carts] DROP CONSTRAINT [DF__Carts__AddedAt__6383C8BA]
GO
ALTER TABLE [dbo].[Carts] DROP CONSTRAINT [DF__Carts__Quantity__628FA481]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07/10/2025 13:47:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 07/10/2025 13:47:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 07/10/2025 13:47:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductCategories]') AND type in (N'U'))
DROP TABLE [dbo].[ProductCategories]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 07/10/2025 13:47:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Orders]') AND type in (N'U'))
DROP TABLE [dbo].[Orders]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 07/10/2025 13:47:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderItems]') AND type in (N'U'))
DROP TABLE [dbo].[OrderItems]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 07/10/2025 13:47:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Categories]') AND type in (N'U'))
DROP TABLE [dbo].[Categories]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 07/10/2025 13:47:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Carts]') AND type in (N'U'))
DROP TABLE [dbo].[Carts]
GO
USE [master]
GO
/****** Object:  Database [shoeCatalogdb]    Script Date: 07/10/2025 13:47:10 ******/
DROP DATABASE [shoeCatalogdb]
GO
/****** Object:  Database [shoeCatalogdb]    Script Date: 07/10/2025 13:47:10 ******/
CREATE DATABASE [shoeCatalogdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'shoeCatalogdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\shoeCatalogdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'shoeCatalogdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\shoeCatalogdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [shoeCatalogdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [shoeCatalogdb]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 07/10/2025 13:47:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [nvarchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ProductId] [nvarchar](450) NOT NULL,
	[Quantity] [int] NOT NULL,
	[AddedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 07/10/2025 13:47:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DisplayOrder] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 07/10/2025 13:47:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [nvarchar](450) NOT NULL,
	[OrderId] [nvarchar](450) NOT NULL,
	[ProductId] [nvarchar](450) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 07/10/2025 13:47:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [nvarchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[ShippingAddress] [nvarchar](500) NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 07/10/2025 13:47:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[ProductId] [nvarchar](450) NOT NULL,
	[CategoryId] [nvarchar](450) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 07/10/2025 13:47:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [nvarchar](450) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07/10/2025 13:47:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](450) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsManager] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([Id], [Name], [Description], [DisplayOrder], [CreatedAt], [UpdatedAt]) VALUES (N'1', N'Patike', N'Sportske i casual patike', 1, CAST(N'2025-10-06T16:42:19.8121287' AS DateTime2), NULL)
INSERT [dbo].[Categories] ([Id], [Name], [Description], [DisplayOrder], [CreatedAt], [UpdatedAt]) VALUES (N'2', N'Cipele', N'Elegantne cipele za svaku priliku', 2, CAST(N'2025-07-13T01:08:07.6366667' AS DateTime2), NULL)
INSERT [dbo].[Categories] ([Id], [Name], [Description], [DisplayOrder], [CreatedAt], [UpdatedAt]) VALUES (N'3', N'Cizme', N'Zimske cizme i bootice', 3, CAST(N'2025-07-13T01:08:07.6366667' AS DateTime2), CAST(N'2025-10-07T13:29:38.5349068' AS DateTime2))
GO
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice]) VALUES (N'73142e39-120b-461f-a3e1-0d09df565527', N'c16bd59e-38dd-4315-8431-ad4501d071d0', N'a23be505-a5dd-420f-a5a3-b2502d909d08', 3, CAST(5999.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice]) VALUES (N'a4a885af-0345-493d-a099-5b71b86573dc', N'ba148e1d-1fb6-471a-aa34-e345a58e6a6f', N'e953321e-93dc-4ecf-85b8-1ebe1fa6df67', 1, CAST(3999.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice]) VALUES (N'd53ccd74-27bd-4eaf-ac79-9964466bd373', N'ba148e1d-1fb6-471a-aa34-e345a58e6a6f', N'49aa717b-4b50-4d99-b7ba-018dce02a2f8', 2, CAST(8499.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [ShippingAddress], [TotalAmount], [Status]) VALUES (N'ba148e1d-1fb6-471a-aa34-e345a58e6a6f', N'5b582e7a-83a7-4141-b4ec-18361a205ad0', CAST(N'2025-10-07T12:53:20.1726393' AS DateTime2), N'Savski Nasip 7, Beograd 11000', CAST(20997.00 AS Decimal(18, 2)), N'Processing')
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [ShippingAddress], [TotalAmount], [Status]) VALUES (N'c16bd59e-38dd-4315-8431-ad4501d071d0', N'5b582e7a-83a7-4141-b4ec-18361a205ad0', CAST(N'2025-10-07T12:52:49.7457664' AS DateTime2), N'Savski Nasip 7, Beograd 11000', CAST(17997.00 AS Decimal(18, 2)), N'Processing')
GO
INSERT [dbo].[ProductCategories] ([ProductId], [CategoryId]) VALUES (N'01d90e80-3492-46bc-80cc-34240cfe1356', N'3')
INSERT [dbo].[ProductCategories] ([ProductId], [CategoryId]) VALUES (N'02bf40ea-e4ea-4370-916c-2b1a61b5a696', N'1')
INSERT [dbo].[ProductCategories] ([ProductId], [CategoryId]) VALUES (N'0f0a78b8-2459-49c3-b4ba-9d571996627e', N'1')
GO
INSERT [dbo].[Products] ([Id], [Title], [Description], [Price], [ImageUrl], [CreatedAt], [UpdatedAt]) VALUES (N'01d90e80-3492-46bc-80cc-34240cfe1356', N'Dr. Martens 1460', N'Legendarne kožne cizme sa žutim šavom', CAST(15999.00 AS Decimal(18, 2)), N'/images/29c7c75a-d1d7-4a57-ba2c-57b8a85c7a15.jpg', CAST(N'2025-10-07T12:27:33.8126964' AS DateTime2), CAST(N'2025-10-07T12:32:31.4512208' AS DateTime2))
INSERT [dbo].[Products] ([Id], [Title], [Description], [Price], [ImageUrl], [CreatedAt], [UpdatedAt]) VALUES (N'02bf40ea-e4ea-4370-916c-2b1a61b5a696', N'Salomon Speedcross', N'Trail patike za trcanje po neravnom terenu', CAST(11999.00 AS Decimal(18, 2)), N'/images/2de855cb-2cc2-45de-b84d-672672746ded.jpg', CAST(N'2025-10-07T12:27:55.2557869' AS DateTime2), CAST(N'2025-10-07T12:32:37.0759036' AS DateTime2))
INSERT [dbo].[Products] ([Id], [Title], [Description], [Price], [ImageUrl], [CreatedAt], [UpdatedAt]) VALUES (N'0f0a78b8-2459-49c3-b4ba-9d571996627e', N'Adidas Superstar', N'Ikonicne patike sa školjkom', CAST(8999.00 AS Decimal(18, 2)), N'/images/1780ab8e-2bc6-4d96-b845-abd04c63be57.jpg', CAST(N'2025-10-07T12:28:38.8487609' AS DateTime2), CAST(N'2025-10-07T12:32:53.9051124' AS DateTime2))
GO
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [Password], [IsAdmin], [CreatedAt], [UpdatedAt], [IsManager]) VALUES (N'1', N'Admin', N'Admin', N'admin@obuca.com', N'admin123', 1, CAST(N'2025-10-06T16:50:53.3685921' AS DateTime2), CAST(N'2025-10-06T16:50:53.3693357' AS DateTime2), 0)
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [Password], [IsAdmin], [CreatedAt], [UpdatedAt], [IsManager]) VALUES (N'2', N'Menadžer', N'Menadžer', N'manager@obuca.com', N'manager123', 0, CAST(N'2025-10-06T16:50:18.4607732' AS DateTime2), CAST(N'2025-10-06T16:50:18.4667223' AS DateTime2), 1)
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [Password], [IsAdmin], [CreatedAt], [UpdatedAt], [IsManager]) VALUES (N'5b582e7a-83a7-4141-b4ec-18361a205ad0', N'Danilo', N'Masleša', N'danilo44619@its.edu.rs', N'danilo44619', 0, CAST(N'2025-10-07T12:19:06.2003804' AS DateTime2), NULL, 0)
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT (getdate()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsManager]  DEFAULT ((0)) FOR [IsManager]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCategories]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCategories]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
USE [master]
GO
